@CHARSET "UTF-8";
body{
    background-image: url("bg.jpg");
    background-repeat: repeat-x;
    font-size: 0.8em;
}
body,table{
    font-family: sans-serif;
}
table{
    font-size: 1em;
}
h1 {
    font-size: 2.0em;
}

h2 {
    font-size: 1.1em;
    border-top:solid black 1px;
    margin-top:30px;
}

h1, h2 {
    color: #0a328c;
}

p{
	margin:10px;
}
td{
	padding:15px;
}
img{
	margin:5px;
	margin-left:40px;
}
li{
	margin:5px;
}
.logo{
	text-align:right;
}