<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.lorands.hunspell4eclipse.content.governor" name="contentGorvernor" schema="schema/com.lorands.hunspell4eclipse.content.governor.exsd"/>
   <extension
         point="org.eclipse.ui.workbench.texteditor.spellingEngine">
      <engine
            class="com.lorands.hunspell4eclipse.Engine"
            default="true"
            id="com.lorands.hunspell4eclipse.engine"
            label="HunSpell4Eclipse"
            preferencesClass="com.lorands.hunspell4eclipse.HunspellPreferences">
      </engine>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
