<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.lorands.hunspell4eclipse.content.governor">
      <governor
            class="com.lorands.hunspell4eclipse.javaspell.JavaSpellEngine"
            governsContentTypeId="org.eclipse.jdt.core.javaSource"
            label="Java Spell"
            nameFilter="*.java">
         <contentType
               governsContentTypeId="org.eclipse.jdt.core.javaSource">
         </contentType>
      </governor>
   </extension>

</plugin>
